<% if @posts.empty? %>
  <div class="notice">No posts.</div>
<% else %>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="date"><%= post.created_at.strftime('%A, %B %e, %Y') %></div>
      <h1><%= link_to post.title, post_path(post) %></h1>
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style "
        addthis:url="<%= post_url(post) %>"
        addthis:title="<%= post.title %>">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5068d369145d1091"></script>
      <!-- AddThis Button END -->
      <%= raw post.body %>
      <% if post.tags.any? %>
        <p class="tags">Tags: 
        <% post.tags.each_with_index do |tag, ix| %>
          <%= link_to tag, tag %><%= ',' unless (ix + 1) == post.tags.count %>
        <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
  <%= paginate @posts %>
<% end %>
