<h1>Edit project</h2>

<p><%= link_to "Show", admin_project_path(@project) %></p>

<%= form_for [:admin, @project] do |f| %>
  <% if @project.errors.any? %>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, cols: 80 %>
  </div>
  <div class="field">
    <%= f.label :created_at %>
    <%= f.text_field :created_at %>
  </div>
  <%= f.submit "Update" %>
<% end %>
