<h1>Project#show</h1>

<p><%= link_to "Edit", edit_admin_project_path(@project) %></p>

<p><strong>Name</strong>: <%= @project.name %></p>
<p><strong>Slug</strong>: <%= @project.slug %></p>
<p><strong>Content</strong>: <%= sanitize @project.body %></p>
<p><strong>Updated at</strong>: <%= @project.updated_at %></p>
<p><strong>Created at</strong>: <%= @project.created_at %></p>
