<h1>Edit post</h2>

<p><%= link_to "Show", admin_post_path(@post) %></p>

<%= form_for [:admin, @post] do |f| %>
  <% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, :cols => 80 %>
  </div>
  <div class="field">
    <%= f.label :published %>
    <%= f.text_field :published %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="field">
    <%= f.label :created_at %>
    <%= f.text_field :created_at %>
  </div>
  <%= f.submit "Update" %>
<% end %>
