<h1>Edit post</h2>

<p><%= link_to "Show", admin_post_path(@post) %></p>

<%= form_for [:admin, @post] do |f| %>
  <% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, :cols => 80 %>
  </p>
  <%= f.submit "Update" %>
<% end %>
