<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        David Robles
      <% end %>
    </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/u/577985/prettify/prettify.css" />
    <%= javascript_include_tag "application" %>
    <script src="https://dl.dropbox.com/u/577985/prettify/prettify.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <link href="http://dr-web.herokuapp.com/feeds/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
  </head>

  <body onload="prettyPrint()">
    <div id="wrapper">
      <div id="header">
        <div class="title">David Robles</div>
        <ul id="nav">
          <li<%= raw ' class="current"' if params[:controller] == 'posts' %>><%= link_to 'Blog', root_path %></li>
          <li<%= raw ' class="current"' if params[:controller] == 'projects' %>><%= link_to 'Projects', projects_path %></li>
          <li<%= raw ' class="current"' if params[:action] == 'about' %>><%= link_to 'About', about_path %></li>
        </ul>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="sidebar">

        <!-- LINKS -->

        <div class="widget">
          <%= link_to image_tag('rss.png', style: "width: 25px"), 'http://dr-website.herokuapp.com/feeds/posts.rss' %>
          <%= link_to image_tag('linkedin.png', style: "width: 25px"), 'http://www.linkedin.com/in/drobles' %>
          <%= link_to image_tag('twitter.png', style: "width: 25px"), 'http://www.twitter.com/davidrobles' %>
          <%= link_to image_tag('facebook.png', style: "width: 25px"), 'http://www.facebook.com/davidrobles' %>
          <%= link_to image_tag('github.png', style: "width: 25px"), 'http://www.github.com/drobles' %>
        </div>

        <!-- ABOUT -->

        <div class="widget">
          <h4>About Me</h4>
          <p>
          <img style="float: left; border: 1px solid #686666; padding: 0px; margin-right: 8px;"
               src="http://www.gravatar.com/avatar/d9b94d4c76a86a818ccf34e7519e9f90?s=70"/>
               Computer Science Ph.D. Student at the University of Essex, full stack developer. Blogging about Artificial Intelligence, Ruby, Clojure and Machine Learning. Computer Science Ph.D. Student at the University of Essex, full stack developer.</p>

          <div style="clear: both;"></div>
        </div>

        <!-- RECENT POSTS -->

        <div class="widget">
          <h4>Recent posts</h4>
          <% recent_posts = Post.published.order('created_at DESC').last(10) %>
          <% if recent_posts.empty? %>
            <div class="notice">No posts.</div>
          <% else %>
            <ul>
            <% recent_posts.each do |post| %>
              <li><%= link_to post.title, post %></li>
            <% end %>
            </ul>
          <% end %>
        </div>

        <!-- RECENT TAGS -->

        <div class="widget">
          <h4>Tags</h4>
          <% tags = Tag.order('name') %>
          <% if tags.empty? %>
            <div class="notice">No tags.</div>
          <% else %>
            <ul>
              <% tags.each do |tag| %>
                <li><%= link_to tag, tag %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>

      <div id="footer">

      </div>

    </div> <!-- end of wrapper -->

  </body>
</html>
