<!DOCTYPE html>
<html>
  <head>
    <title>Testing</title>
    <%= stylesheet_link_tag    "application" %>
    <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/u/577985/prettify/prettify.css" />
    <%= javascript_include_tag "application" %>
    <script src="https://dl.dropbox.com/u/577985/prettify/prettify.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="wrapper">

      <div id="header">
        <ul id="nav">
          <li><%= link_to "Posts", admin_posts_path %></li>
          <li><%= link_to "Projects", admin_projects_path %></li>
          <li><%= link_to "Tags", admin_tags_path %></li>
        </ul>
      </div>

      <div style="padding: 20px;">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>

      <div id="footer">
        David Robles
      </div>

    </div>

  </body>
</html>
